[github]
	user = lassem
	token = 2de4506a7cddcac0bf07f6d9b5829279
[user]
	name = Lasse Magnussen
	email = lasse.magnussen@finn.no
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = blue bold
	changed = red
	untracked = cyan
[color]
	ui = auto
[color "diff"]
	whitespace = red reverse
[core]
	crapwhitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = input
	preloadindex = true
	excludesfile = $HOME/.gitignore_global
[alias]
	cp = cherry-pick
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	age = "log -1 --pretty=format:\"%ar\""
	alias = !git config --list | grep alias
	amend = commit --amend
	# When "your branch is behind 'origin/whatever' by N commits, and can be fast-forwarded."
	fast-forward = merge --ff-only @{u}
	fixup = commit --fixup
	# Rebase shorthands. Combines well with config --global rebase.autosquash true
	rb = rebase -i
	rbmb = !git rebase -i $(git merge-base origin/master HEAD)
	rbm = rebase -i origin/master
	rbd = rebase -i origin/develop
	rbu = rebase -i @{u}
	# -uno excludes untracked files
	st = status -uno
	sta = status
	# diff/log against tracked upstream branch
	udiff = diff @{u}
	ulog = log @{u}..
	lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
[push]
	default = tracking
[branch]
	autosetuprebase = remote
[rebase]
	autosquash = true
[remote "origin"]
	fetch = refs/heads/*:refs/remotes/origin/*
	fetch = refs/tags/*:refs/tags/*
[pull]
	rebase = true
